# macOS
.DS_Store
*.swp
*~

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# VS Code
.vscode/

# Secrets
*.env
